.form__list {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    border: black solid 2px;
    border-radius: 8px;
}


.form__input {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 90%;
    border: black solid 2px;
    border-radius: 8px;
}